<h2 mat-dialog-title>{{ 'github.configuration.title' | translate }}</h2>
<mat-dialog-content>
  @if (currentStep() === 'enter-token')
  {
    <p>
      {{ 'github.configuration.token.info' | translate }}
    </p>

    <mat-form-field hintLabel="github_token_xxxxxxx_xxxxxxxxx">
      <mat-label>{{ 'github.configuration.token.label' | translate }}</mat-label>
      <input matInput type="password" [formControl]="tokenInput" required />
      @if (tokenInput.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearToken()">
        <mat-icon>close</mat-icon>
      </button>
      }
      @if (tokenInput.hasError("required")) {
        <mat-error>{{ 'github.configuration.token.required' | translate }}</mat-error>
      }
      @if (tokenInput.hasError("pattern")) {
        <mat-error>{{ 'github.configuration.token.invalidFormat' | translate }}</mat-error>
      }
      @if (tokenInput.hasError("unauthorized")) {
        <mat-error>{{ 'github.configuration.token.invalidToken' | translate }}</mat-error>
      }
    </mat-form-field>
  }
  @else if (currentStep() === 'select-repository')
  {
    <p>
      {{ 'github.configuration.repository.info' | translate }}
    </p>
    <mat-form-field>
      <mat-select [formControl]="repositorySelector" required>
        @for (repository of repositories(); track getFullName(repository)) {
          <mat-option [value]="repository">{{getFullName(repository)}}</mat-option>
        }
      </mat-select>
      @if (repositorySelector.hasError("required")) {
        <mat-error>{{ 'github.configuration.repository.required' | translate }}</mat-error>
      }
      @if (repositorySelector.hasError("invalid")) {
        <mat-error>{{ 'github.configuration.repository.invalid' | translate }}</mat-error>
      }
    </mat-form-field>
  }
</mat-dialog-content>
<mat-dialog-actions>
  @if (loading()) {
    <mat-spinner></mat-spinner>
  }

  @if (isLastStep()) {
    <button mat-button (click)="proceed()" [disabled]="!canProceed() || loading()">{{ 'general.dialog.buttons.finish' | translate }}</button>
  } @else {
    <button mat-button (click)="proceed()" [disabled]="!canProceed() || loading()">{{ 'general.dialog.buttons.next' | translate }}</button>
  }
</mat-dialog-actions>
