<div class="changelog" id="changelog">
{% for change in site.changelog reversed %}
  {% assign date = change.relative_path | replace: '_changelog/', '' | replace: '.md', '' %}
  <!-- ko let: {viewed: changelog.setViewed('{{ date }}')} -->
  <div id="{{ date }}" class="change card"
    data-bind="class: (viewed ? 'text-secondary' : 'new border-primary')">
    <h5 class="card-header d-flex justify-content-between align-items-start"
      data-bind="class: (viewed ? '' : 'text-white bg-primary')">
        {{ date }}
        <!-- ko ifnot: viewed -->
        <span class="badge badge-warning">{{ page.strings.new }}</span>
        <!-- /ko -->
    </h5>
    <div class="card-body">
      {{ change[page.lang] | markdownify }}
    </div>
  </div>
  <!-- /ko -->
{% endfor %}
</div>