/docs/_site
/docs/.jekyll-cache
/android/.idea/deploymentTargetDropDown.xml
/android/app/release
tests/node_modules
tests/cypress/videos
/docs/.jekyll-metadata
utils/packages
/site/.jekyll-cache
site/_site
*.aab
frontend/vars.css
/backend/.vs
/backend/bin
/backend/obj
