body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1em 0;
}

.results-container {
    position: relative;
    flex: auto;
}

.results-container > .row {
    position: relative;
    height: 100%;
}

#map {
    min-height: 20em;
    height: 100%;
    width: 100%;
}

.results-map {
}

@media (min-width: 768px) {
    .results-list-container {
        position: relative;
    }

    .results-list-container .list-group {
        height: 100%;
        position: absolute;
        overflow-y: auto;
    }
}

.results-list-item {
    cursor: pointer;
}
