<mat-tab-group animationDuration="0" preserveContent="true">
  @for (language of languages().values(); track language.id) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span [class.empty]="isEmpty(language.id)">{{ language.name }}</span>
      </ng-template>
      <ngx-editor-menu [editor]="getEditor(language.id)" [toolbar]="[
        ['bold', 'italic'],
        ['undo', 'redo'],
        ['link']
      ]"></ngx-editor-menu>
      <ngx-editor
        [editor]="getEditor(language.id)"
        [formControl]="getControl(language.id)"
        placeholder="{{ 'place.editor.description.hint' | translate }}"
      ></ngx-editor>
    </mat-tab>
  }
</mat-tab-group>
