mat-form-field {
  width: 100%;
}

.empty {
  opacity: 0.5;
}

::ng-deep {
  .NgxEditor {
    --ngx-editor-background-color: light-dark(#fff, #111319);
    --ngx-editor-text-color: light-dark(#000, #fff);
    overflow-y: auto;
  }

  ngx-editor-menu {
    --ngx-editor-menubar-bg-color: light-dark(#fff, #111319);
  }
}
