@if (loading()) {
  <mat-progress-bar [mode]="progressMode()" [value]="progressValue()"></mat-progress-bar>
  <div class="mask">{{ 'general.loading.details' | translate }}</div>
}

<nav>
  <ul>
    <li class="text">
      <img src="/img/icon.svg" />
      <a class="brand" routerLink="/">GlutenFreeMap</a>
    </li>

    @for (link of links; track link.path) {
      <li class="wide text">
        <a
          [routerLink]="link.path"
          routerLinkActive="current"
          ariaCurrentWhenActive="page"
        >{{ link.label | translate }}</a>
      </li>
    }

    <li class="separator"></li>

    <li>
      <app-branch-selector></app-branch-selector>
    </li>
    <li class="narrow">
      <button matIconButton [matMenuTriggerFor]="menu" attr.aria-label="{{ 'general.menu.label' | translate }}">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @for (link of links; track link.path) {
          <a
            mat-menu-item
            [routerLink]="link.path"
            routerLinkActive="current"
            ariaCurrentWhenActive="page"
          >{{ link.label | translate }}</a>
        }
      </mat-menu>
    </li>
  </ul>
</nav>

<div class="content">
  <router-outlet />
</div>
