@if (loading()) {
  <mat-progress-bar [mode]="progressMode()" [value]="progressValue()"></mat-progress-bar>
  <div class="mask">{{ 'general.loading.details' | translate }}</div>
}

<nav>
  <ul>
    <li>
      <img src="/img/icon.svg" />
      <a class="brand" routerLink="/">GlutenFreeMap</a>
    </li>

    @for (link of links; track link.path) {
      <li>
        <a
          [routerLink]="link.path"
          routerLinkActive="current"
          ariaCurrentWhenActive="page"
        >{{ link.label | translate }}</a>
      </li>
    }

    <li class="separator"></li>

    <li>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ 'general.branch.label' | translate }}</mat-label>
        <mat-select [(value)]="currentBranch" [disabled]="loading()">
          @for (branch of branches(); track branch.name) {
            <mat-option [value]="branch">{{ branch.name }}</mat-option>
          }
          <mat-option [value]="CREATE_NEW_BRANCH" class="create">{{ 'general.branch.createNew' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
</nav>

<hr/>

<div class="content">
  <router-outlet />
</div>
