@use '../../../mixins';

:host {
  display: flex;
  flex-direction: column;
  background-color: light-dark(#fff, #111319);
  border-right: solid 1px var(--mat-sys-primary-container);

  ::ng-deep {
    .mat-mdc-text-field-wrapper  {
      background: light-dark(#fff, #111319);
    }

    .mat-mdc-form-field {
      margin-bottom: 0.5rem;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-form-field-infix {
      width: 100%;
    }
  }

  &.searching {
    z-index: 4;

    ::ng-deep .mat-mdc-text-field-wrapper {
      box-shadow: none;
    }
  }
}

mat-form-field {
  z-index: 3;
  margin: mixins.$map-widget-padding;

  ::ng-deep .mat-mdc-text-field-wrapper {
    box-shadow: var(--mat-sys-level3);
    border-radius: 4px;
  }
}

.search-results {
  flex: 1;
  position: relative;
}

mat-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
}

mat-chip-set {
  padding: 10px 0;
}

mat-list-item {
  --mat-list-list-item-two-line-container-height: auto;
  --mat-list-list-item-three-line-container-height: auto;

  h3,
  h4 {
    white-space: wrap !important;
  }

  h4 {
    margin: 0;
  }
}

p {
  margin: 1rem 2rem;
}

.not-found {
  display: flex;

  mat-icon {
    padding-right: 1rem;
  }
}
