<mat-form-field appearance="outline">
  <mat-label>{{ 'place.search.label' | translate }}</mat-label>
  <input matInput [(ngModel)]="searchText" (focus)="searchFocused()">
  @if (searchText().length) {
    <button
        matIconButton
        matSuffix
        attr.aria-label="{{ 'place.search.clear' | translate }}"
        (click)="searchText.set('')"
      >
      <mat-icon>close</mat-icon>
    </button>
  } @else {
    <mat-icon matSuffix>search</mat-icon>
  }
</mat-form-field>
<div class="search-results">
  <mat-list>
    @for (place of searchResults(); track place.id) {
      <mat-list-item class="mat-mdc-list-item-interactive" (click)="selectPlace(place)" (mouseenter)="enterPlace(place)" (mouseleave)="leavePlace(place)">
        <h3 matListItemTitle>{{isStandalone(place) ? place.name : place.parent.name}}</h3>

        @if (!isStandalone(place)) {
          <h4 matListItemLine>{{place.name}}</h4>
        }
        <mat-chip-set matListItemLine>
          <mat-chip>{{ attestationType(place) }}</mat-chip>
          <mat-chip>{{ regionName(place) }}</mat-chip>
          @for (category of isStandalone(place) ? place.categories : place.parent.categories; track category) {
            <mat-chip>{{ categoryName(category) }}</mat-chip>
          }
        </mat-chip-set>
      </mat-list-item>
    } @empty {
      <p class="not-found">
        <mat-icon>info_outline</mat-icon>
        {{ 'place.search.notFound' | translate }}
      </p>
    }
  </mat-list>
</div>
