<button matMiniFab [matMenuTriggerFor]="menu" attr.aria-label="{{ 'general.menu.label' | translate }}">
  <mat-icon>I</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    routerLink="/config"
    routerLinkActive="current"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>Q</mat-icon>
    {{ 'navigation.menu.settings' | translate }}
  </button>

  <button
    mat-menu-item
    routerLink="/about"
    routerLinkActive="current"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>E</mat-icon>
    {{ 'navigation.menu.about' | translate }}
  </button>

  <button
    mat-menu-item
    [matMenuTriggerFor]="languagesMenu"
  >
    <mat-icon>P</mat-icon>
    {{ 'navigation.menu.language' | translate }}
  </button>
</mat-menu>

<mat-menu #languagesMenu="matMenu">
  @for (language of languages(); track language.id) {
    <button mat-menu-item (click)="languageService.switchTo(language)" [class.unsupported]="!language.available">
      <mat-icon>{{ language.selected ? 'K' : ' '}}</mat-icon>
      {{ language.name }}
    </button>
  }
</mat-menu>
