<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label>{{ 'general.branch.label' | translate }}</mat-label>
  <mat-select [value]="currentBranch()" [disabled]="loading()" (selectionChange)="selectOption($event)">
    <mat-select-trigger>
      @if (currentBranch()?.protected) {
        <mat-icon aria-hidden="false" aria-label="Padlock" fontIcon="lock"></mat-icon>
      }
      {{currentBranch()?.name || ""}}
    </mat-select-trigger>
    @for (branch of branches(); track branch.name) {
      <mat-option [value]="branch">{{ branch.name }}</mat-option>
    }
    <mat-option [value]="CREATE_NEW_BRANCH" class="create">{{ 'general.branch.createNew' | translate }}</mat-option>
  </mat-select>
</mat-form-field>
