<h2 mat-dialog-title>{{'branch.creator.title' | translate }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>{{ 'branch.creator.name.label' | translate }}</mat-label>
    <input matInput [formControl]="nameInput" required pattern="^\w+(?:-\w*)*$" />
    <mat-error *ngIf="nameInput.invalid">{{ error(nameInput, {
      required: 'branch.creator.name.required' | translate,
      pattern: 'branch.creator.name.invalid' | translate,
      duplicate: 'branch.creator.name.duplicate' | translate
    }) }}</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  @if (loading()) {
    <mat-spinner></mat-spinner>
  }

  <button mat-button mat-dialog-close>{{ 'general.dialog.buttons.cancel' | translate }}</button>
  <button mat-button cdkFocusInitial [disabled]="!isValid()" (click)="create()">{{ 'general.dialog.buttons.create' | translate }}</button>
</mat-dialog-actions>
