<button class="dropdown" matButton="elevated" [matMenuTriggerFor]="menu">
  <mat-icon>A</mat-icon>
  {{ 'general.connector.label' | translate }}
  <mat-icon class="dropdown-icon">L</mat-icon>
</button>
<mat-menu #menu="matMenu">
  @for (configuration of configurations(); track configuration) {
    <button mat-menu-item (click)="switchTo(configuration)">
      <mat-icon>{{ configuration.selected ? 'K' : ' '}}</mat-icon>
      <span matListItemTitle>{{ configuration.displayName }}</span>
      <span matListItemLine>{{ configuration.description | localize }}</span>
    </button>
  }
</mat-menu>
