<app-page>
  <h2>{{ 'about.title' | translate}}</h2>
  <div innerHTML="{{ 'about.details' | translate}}"></div>

  <h3>{{ 'about.installation.title' | translate}}</h3>
  <div innerHTML="{{ 'about.installation.details' | translate}}"></div>

  [TODO]

  <h3>{{ 'about.privacy.title' | translate}}</h3>
  <div innerHTML="{{ 'about.privacy.details' | translate}}"></div>

  <h3>{{ 'about.terms.title' | translate}}</h3>
  <div innerHTML="{{ 'about.terms.details' | translate}}"></div>

  <h3>{{ 'about.suggestions.title' | translate}}</h3>
  <div innerHTML="{{ 'about.suggestions.details' | translate}}"></div>

  <h3>{{ 'about.legal.title' | translate}}</h3>
  <div innerHTML="{{ 'about.legal.details' | translate}}"></div>

  <h3>{{ 'about.thanks.title' | translate}}</h3>
  <div innerHTML="{{ 'about.thanks.details' | translate}}"></div>
  <ul>
    <li><a href="https://protomaps.com/">Protomaps</a></li>
    <li><a href="https://maplibre.org/">MapLibre GL JS</a></li>
    <li><a href="https://angular.dev/">Angular</a></li>
    <li><a href="https://material.angular.dev/">Angular Material</a></li>
    <li><a href="https://fonts.google.com/icons">Material Icons</a></li>
    <li><a href="https://ngx-translate.org/">ngx-translate</a></li>
    <li><a href="https://zod.dev/">Zod</a></li>
    <li><a href="https://sibiraj-s.github.io/ngx-editor/">NgxEditor</a></li>
  </ul>

</app-page>
