@font-face {
  font-family: 'Material Icons Slim';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIconsSlim-Regular.woff2?v=1B42409B0ADE3E43DFCA9AE38B5BF149) format('woff2'),
       url(/fonts/MaterialIconsSlim-Regular.ttf?v=1B42409B0ADE3E43DFCA9AE38B5BF149) format('truetype'),
       url(/fonts/MaterialIconsSlim-Regular.woff?v=1B42409B0ADE3E43DFCA9AE38B5BF149) format('woff');
}
