@font-face {
  font-family: 'Material Icons Slim';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIconsSlim-Regular.woff2?v=89B3E43C4CD6B0BC75EC261732D75A86) format('woff2'),
       url(/fonts/MaterialIconsSlim-Regular.ttf?v=89B3E43C4CD6B0BC75EC261732D75A86) format('truetype'),
       url(/fonts/MaterialIconsSlim-Regular.woff?v=89B3E43C4CD6B0BC75EC261732D75A86) format('woff');
}
