@font-face {
  font-family: 'Material Icons Slim';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIconsSlim-Regular.woff2?v=D325CBC6D15FA2647FDD434890B8D937) format('woff2'),
       url(/fonts/MaterialIconsSlim-Regular.ttf?v=D325CBC6D15FA2647FDD434890B8D937) format('truetype'),
       url(/fonts/MaterialIconsSlim-Regular.woff?v=D325CBC6D15FA2647FDD434890B8D937) format('woff');
}
