/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use "sass:map";
@use './theme-colors' as theme;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(/fonts/Roboto-Regular.woff2) format('woff2'),
       url(/fonts/Roboto-Regular.woff) format('woff'),
       url(/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons Slim';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIconsSlim-Regular.woff2?v=4) format('woff2'),
       url(/fonts/MaterialIconsSlim-Regular.ttf?v=4) format('truetype'),
       url(/fonts/MaterialIconsSlim-Regular.woff?v=4) format('woff');
}

.material-icons {
  font-family: 'Material Icons Slim';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;
  @include mat.theme((color: theme.$primary-palette,
      typography: Roboto,
      density: 0));
}

body {
  --mat-sys-surface: #fff;
  --mat-sys-background: #fff;
  --mat-fab-small-container-color: #fff;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  display: flex;
  flex-direction: column;

  line-height: 1.5;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

mat-dialog-actions mat-spinner {
  max-height: 1em;
  max-width: 1em;
  margin-right: 0.5em;
}

a {
  color: map.get(theme.$primary-palette, 40);
  text-decoration: none;

  &:hover {
    color: map.get(theme.$primary-palette, 20);
    text-decoration: underline;
  }
}

.dropdown-icon {
  order: 1;
  margin: 0 -1rem 0 0.5rem !important;
}
