<app-search
  [connector]="connector()"
  (selectedPlaceChange)="selectedPlace.set($event)"
  (highlightedPlaceChange)="highlightedPlace.set($event)"
/>

<div class="toolbar">
  <app-filter #filter [connector]="connector()" />
  @if (canSelectConnector()) {
    <app-connector-selector />
  }
  @if (canSelectBranch()) {
    <app-branch-selector [connector]="connector()" />
  }
  @if (canCreatePlace()) {
    <app-place-creator [connector]="connector()" />
  }
</div>

<app-main-menu [connector]="connector()" />

<app-map
  [connector]="connector()"
  [filteredPlaces]="filter.filteredPlaces()"
  [(selectedPlace)]="selectedPlace"
  [highlightedPlace]="highlightedPlace()"
/>
