@use '../../../mixins';

@include mixins.dialog-spinner;

mat-dialog-content {
  padding-top: 8px !important;
}

mat-card {
  margin-bottom: 16px;
}

.wide {
  width: 100%;
}

.row {
  display: flex;
  gap: 5px;

  mat-form-field,
  .form-field-placeholder {
    flex: 1;
  }
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75rem;
  line-height: 1;
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
    gap: 0;
  }
}
