@use '../../../mixins';

mat-dialog-content {
  padding-top: 8px !important;
}

mat-card {
  margin-bottom: 16px;
}

.wide {
  width: 100%;
}

.row {
  display: flex;
  gap: 5px;

  mat-form-field,
  .form-field-placeholder {
    flex: 1;
  }
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75rem;
  line-height: 1;
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
    gap: 0;
  }
}

.resize-content {
  display: flex;
  flex-direction: column;

  ::ng-deep {
    app-localized-string-form-field {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    mat-tab-group,
    .mat-mdc-tab-body-wrapper {
      flex: 1;
    }

    .mat-mdc-tab-body-content {
      display: flex;
      flex-direction: column;
    }

    ngx-editor {
      flex: 1;
      position: relative;

      .NgxEditor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
      }
    }
  }
}
