<mat-list>
  @for (place of filteredPlaces(); track place) {
    <mat-list-item class="mat-mdc-list-item-interactive" (click)="edit(place)">
      <h3 matListItemTitle>{{place.name}}</h3>
      <mat-chip-set matListItemLine>
        <mat-chip>
          {{ 'place.attestation.chip.label' | translate:{type: attestationType(place)} }}
        </mat-chip>
        @if (isStandalone(place)) {
          <mat-chip>
            {{ 'place.region.chip.label' | translate:{region: regionName(place)} }}
          </mat-chip>
          @for (category of place.categories; track category) {
            <mat-chip>
              {{ categoryName(category) }}
            </mat-chip>
          }
        }
      </mat-chip-set>
    </mat-list-item>
  }
</mat-list>
