mat-list-item {
  --mdc-list-list-item-two-line-container-height: auto;
}

mat-chip-set {
  padding: 10px 0;
}

.mapContainer {
  width: 100%;
  height: 600px;
}

mat-card {
  border: none;
}

mat-card-header,
mat-card-content {
  padding: 0;
}
